nav {
		background-color: rgba(96,96,217,0.81);
		
	}
	nav a {
		color:#FFF;
	}
	nav a:hover {
		color:#FFF;
		font-size: 25px;
		
	}
	nav div a:hover{
		color: #FFF;
		text-shadow: 2px 2px 10px #888888;
		font-size: 18px;
	}
	
	.textcenter{
		text-align: center;
	}	
	footer{
		padding-top: 25px;
		margin-top: 10px;
		border-top: 1px solid #F0F0F0;
		background: #FFF;
		height: 130px;
		background-color: rgba(96,96,217,0.81);
		color: #fff;	
}
	header {
		border-bottom: 1px solid black;
	}
	.collapse ul li {
		margin-left: 30px;
	}

.imagem{
	margin-top: 20px;
}
.img1{
	margin-left: -10px;
}
.img1 img{
	margin-left: 10px;
	margin-top:10px;
	border-radius: 100px;
	width:100px;
	height:100px;
	
}

.imgPrincipal{
	width:490px;
	height: 300px;
	
}

.formulario{
	margin:auto;
	width: 500px;
	margin-top: 20px;
	background-color: #f5f5f5;
	border-radius: 10px;
	padding: 20px;
	 box-shadow: 2px 2px 20px #888888;
	margin-bottom: 20px;
	
}

.conteudos{
	background-color: #E7E7E7;
	margin-top: 10px;
	border-radius: 10px;
	padding: 4px 0 4px 30px;;
}
.conteudos p {
	padding: 0;
	margin: 0;
}
.artigos{
	background-color: aqua;
	width: 500px;
	height: 50px;
	display: none;
	position: absolute;
}

article  ul{
	list-style: none;
	
}
.estilizacao{
	margin-top: 10px;
	background-color: #f1f1f1;
	width: 500px;
	height: 50px;
	border-radius: 10px;
	padding: 10px 0px 10px 15px;
	
}

.esFooter{
	font-size: 10px;
	font-weight: 700;
	
}

article ul div {
    display: none;
	background-color: #FCFCFC;
	box-shadow: 2px 2px 25px #B1FDFF;
	border: 1px solid #FBFBFB;
	width: 500px;
}
article ul div::selection {
   background-color: aqua;
	color: #fff;
}
article ul li:hover > div {
    display: inline-block;
	position: absolute;
	margin-left: -15px;
	padding:18px;
	border-radius: 10px;
	
}
